
:root{
  --ff-pri-family: JetBrains Mono, monospace;
  --ff-sec-family: Google Noto Sans, sans-serif;
  
  --pri-color: #fff;
  --sec-color: #000;
  --pri-bg-color: #000;
  --sec-bg-color: #fff;
}

nav {
  background-color: var(--pri-bg-color);
}
nav ul{
  display: flex;
  justify-content: space-around;
}
nav ul a{
  
  color: var(--pri-color);
  text-decoration: none;
}