/* ROOT */


:root{
  /* color-scheme: dark; */
  --ff-family: 'Poppins', sans-serif;
  --ff-family2: 'JetBrains Mono', monospace;

  --bg: rgba(0,214,170,.85);
  --main_bg: #222;
  
  --clr: #fff;
  --clr2: #000;
  --pri-bg-color: #000;
  --sec-bg-color: #fff;
}

/* GENERAL */
/* *,*::after,*::before {
  background-color: var(--bg);
  color: var(--clr);
  font-family: var(--ff-family);
  box-sizing: border-box;
}
.subtext{
  font-family: var(--ff-family2);
} */

/* SPECFIC */

/* Navigation Styling */
